@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');
body{
    overflow: hidden;
}
.wrap{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}
#menu{
    position: absolute;
    width: 8%;
    /*background-color: #000000;*/
    text-align: center;
    padding-top: 50px;
    transition: all 500ms ease;
}
#menu a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: #e5e5e5;
}
#menu h3{
    padding: 0 30px 50px 30px;
    text-align: left;
}
#menu #prol{
    font-weight: 900;
    color: #000000;
}
/*-*/
#menu #illu:hover{
    font-weight: 900;
    color: #00bdff;
    transition: all 200ms ease;
}
#menu #newm:hover{
    font-weight: 900;
    color: #ff0098;
    transition: all 200ms ease;
}
#menu #vide:hover{
    font-weight: 900;
    color: #ffc200;
    transition: all 200ms ease;
}
#menu #epil:hover{
    font-weight: 900;
    color: #000000;
    transition: all 200ms ease;
}
#menu img{
    width: 70%;
    padding-top: 190px;
}
#verticalLine{
    position: absolute;
    border-left: 2px solid #e5e5ee;
    height: 721px;
    top: 0;
    left: 8%;
}


#main1{
    position: absolute;
    width: 46%;
    left: 8%;
    /*background-color: #e5e6e6;*/
    padding: 50px 0 0 50px;
}
#main1 #main1Motto{
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 150px 0;
    color: #000000;
}
#main1 #main1Name{
    padding-top: 15px;
    transition: all 200ms ease;
}
#main1 #main1Name:hover{
    color: #6d66ff;
    transition: all 200ms ease;
}
#main1 button{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 9px 50px;
    outline: 0;

    transition: all 200ms ease;
}
#main1 button:hover{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 9px 50px;
    cursor: pointer;

    transition: all 200ms ease;
}
#main1{
    animation-name: easeMain;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
@-webkit-keyframes easeMain {   
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}
@keyframes easeMain {
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}


#main2{
    position: absolute;
    width: 46%;
    left: 54%;
    background-color: #000000;
    color: #ffffff;
    padding: 50px 0;
}
#main2 img{
    width: 45%;
    padding: 0 0 0 50px;
}
#main2 h1{
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    padding: 20px 50px 10px 0;
}
#main2 h2{
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    padding: 0 50px 50px 0;
}
#main2 h4{
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    padding: 0 50px 10px 0;
}
#main2 #main2Phone{
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    padding: 0 50px 5px 0;
}
#main2 #main2Email{
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    padding: 0 50px 5px 0;
}
#main2 #main2Instagram{
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    padding: 0 50px 73px 0;
}
#main2{
    animation-name: easeMain2;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@-webkit-keyframes easeMain2 {   
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}
@keyframes easeMain2 {
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}



/*버튼*/
#main1BeforeDiv{
    position: absolute;
    left: 8%;
    padding: 630px 0 0 50px;
}
#main1BeforeDiv #main1Before{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #000000;

    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;

    transition: all 200ms ease;
}
#main1BeforeDiv #main1Before:hover{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;

    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    outline: 0;

    transition: all 200ms ease;
}
#main1BeforeDiv{
    animation-name: main1;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
@-webkit-keyframes main1 {   
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}
@keyframes main1 {
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}



#main2NextDiv{
    position: absolute;
    left: 54%;
    padding: 630px 0 0 620px;
}
#main2NextDiv #main2Next{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;

    width: 40px;
    height: 40px;
    background-color: #000000;
    border: 3px solid #ffffff;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    transition: all 200ms ease;
}
#main2NextDiv #main2Next:hover{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #000000;

    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    outline: 0;
    transition: all 200ms ease;
}

#main2NextDiv{
    animation-name: main2;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@-webkit-keyframes main2 {   
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}
@keyframes main2 {
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}