@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');
body{
    overflow: hidden;
}
.wrap{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}
#menu{
    position: absolute;
    width: 8%;
    text-align: center;
    padding-top: 50px;
    transition: all 500ms ease;
}
#menu a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: #e5e5e5;
}
#menu h3{
    padding: 0 30px 50px 30px;
    text-align: left;
}
#menu #illu{
    font-weight: 900;
    color: #00bdff;
}
/*-*/
#menu #newm:hover{
    font-weight: 900;
    color: #ff0098;
    transition: all 200ms ease;
}
#menu #prol:hover{
    font-weight: 900;
    color: #000000;
    transition: all 200ms ease;
}
#menu #vide:hover{
    font-weight: 900;
    color: #ffc200;
    transition: all 200ms ease;
}
#menu #epil:hover{
    font-weight: 900;
    color: #000000;
    transition: all 200ms ease;
}
#menu img{
    width: 70%;
    padding-top: 190px;
}
#verticalLine{
    position: absolute;
    border-left: 2px solid #e5e5ee;
    height: 721px;
    top: 0;
    left: 8%;
}



#main1{
    position: absolute;
    width: 46%;
    left: 8%;
    padding: 50px 0 0 50px;
}
#main1 #main1Title{
    font-size: 30px;
    font-weight: 900;
    color: #00bdff;
}
#main1 #main1TitleSub{
    width: 87%;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    padding: 20px 0 80px 0 ;
}
#main1 h3{
    width: 87%;
    font-size: 18px;
    font-weight: 500;
}
#main1 #main1Content1{
    padding-bottom: 30px;
    line-height: 23px;
}
#main1 #main1Content2{
    padding-bottom: 30px;
    line-height: 23px;
}
#main1 #main1Content3{
    padding-bottom: 70px;
    line-height: 23px;
}
#main1 #main1Go{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #00bdff;
    background-color: #ffffff;
    border: 3px solid #00bdff;
    border-radius: 10px;
    padding: 9px 50px;
    outline: 0;

    transition: all 200ms ease;
}
#main1 #main1Go:hover{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #00bdff;
    
    border-radius: 10px;
    padding: 9px 50px;
    cursor: pointer;

    transition: all 200ms ease;
}
#main1{
  animation-name: main1;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
@-webkit-keyframes main1 {   
  0% {
      opacity: 0;
      left: 7%;
  }
  100% {
      opacity: 1;
      left: 8%;
  }
}
@keyframes easeMain2 {
  0% {
      opacity: 0;
      left: 7%;
  }
  100% {
      opacity: 1;
      left: 8%;
  }
}




#main2{
    position: absolute;
    width: 46%;
    left: 54%;
    background-color: #00bdff;
    color: #ffffff;
}
#main2{
    animation-name: main2;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@-webkit-keyframes main2 {   
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}
@keyframes main2 {
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}



/*버튼*/
#main1BeforeDiv{
    position: absolute;
    left: 8%;
    padding: 640px 0 0 50px;
}
#main1BeforeDiv #main1Before{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #00bdff;
    background-color: #ffffff;
    border: 3px solid #00bdff;
    border-radius: 100px;
    padding: 10px;
    outline: 0;
    cursor: pointer;
    transition: all 200ms ease;
}
#main1BeforeDiv #main1Before:hover{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #00bdff;
    background-color: #00bdff;
    border-radius: 100px;
    padding: 10px;
    outline: 0;
    transition: all 200ms ease;
}
#main1BeforeDiv{
    animation-name: main1;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
@-webkit-keyframes main1 {   
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}
@keyframes main1 {
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}



#main2NextDiv{
    position: absolute;
    left: 54%;
    padding: 605px 0 0 645px;
}
#main2NextDiv #main2Next{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #00bdff;
    background-color: #00bdff;
    border: 3px solid #ffffff;
    border-radius: 100px;
    padding: 10px;
    outline: 0;
    cursor: pointer;
    transition: all 200ms ease;
}
#main2NextDiv #main2Next:hover{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #00bdff;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 10px;
    outline: 0;
    transition: all 200ms ease;
}
#main2NextDiv{
    animation-name: main2;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@-webkit-keyframes main2 {   
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}
@keyframes main2 {
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}