@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');
body{
    overflow: hidden;
}
.wrap{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}
#menu{
    position: absolute;
    width: 8%;
    background-color: #ffffff;
    text-align: center;
    padding-top: 50px;
    z-index: 3;
    transition: all 500ms ease;
}
#menu a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: #e5e5e5;
}
#menu h3{
    padding: 0 30px 50px 30px;
    text-align: left;

}
#menu #epil{
    font-weight: 900;
    color: #000000;
}
/*-*/
#menu #illu:hover{
    font-weight: 900;
    color: #00bdff;
    transition: all 200ms ease;
}
#menu #newm:hover{
    font-weight: 900;
    color: #ff0098;
    transition: all 200ms ease;
}
#menu #vide:hover{
    font-weight: 900;
    color: #ffc200;
    transition: all 200ms ease;
}
#menu #prol:hover{
    font-weight: 900;
    color: #000000;
    transition: all 200ms ease;
}
#menu img{
    width: 70%;
    padding-top: 190px;
    padding-bottom: 100px;
}
#verticalLine{
    position: absolute;
    border-left: 2px solid #e5e5ee;
    height: 721px;
    top: 0;
    left: 8%;
    z-index: 4;
}


#main1{
    position: absolute;
    width: 43%;
    left: 8%;
    background-color: #000000;
    color: #ffffff;
    padding: 50px 0 0 50px;
    z-index: 1;
}
#main1 h4{
    font-size: 23px;
    font-weight: 300;
    padding: 0 50px 20px 0;
}
#main1 #main2Phone{
    font-size: 25px;
    font-weight: 700;
    padding: 0 50px 5px 0;
}
#main1 #main2Email{
    font-size: 25px;
    font-weight: 700;
    padding: 0 50px 5px 0;
}
#main1 #main2Instagram{
    font-size: 25px;
    font-weight: 700;
    padding: 0 50px 600px 0;
    z-index: 1;
}
#main1{
    animation-name: easeMain;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
@-webkit-keyframes easeMain {   
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}
@keyframes easeMain {
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}



#main2{
    position: absolute;
    width: 43%;
    left: 54%;

    color: #000000;
    padding: 530px 0 0 11px;
}
#main2 #main1Motto{
    font-size: 30px;
    font-weight: 700;

}
#main2 #main1Name{
    padding-top: 15px;
}
#main2 h1{
    font-size: 30px;
    font-weight: 700;
    text-align: right;
}
#main2{
    animation-name: easeMain2;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@-webkit-keyframes easeMain2 {   
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}
@keyframes easeMain2 {
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}




/*버튼*/
#main1BeforeDiv{
    position: absolute;
    left: 8%;
    padding: 630px 0 0 50px;
    z-index: 2;
}
#main1BeforeDiv #main1Before{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;

    width: 40px;
    height: 40px;
    background-color: #000000;
    border: 3px solid #ffffff;   
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    transition: all 200ms ease;
}
#main1BeforeDiv #main1Before:hover{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #000000;

    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    outline: 0;
    transition: all 200ms ease;
}
#main1BeforeDiv{
    animation-name: main1;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
@-webkit-keyframes main1 {   
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}
@keyframes main1 {
    0% {
        opacity: 0;
        left: 7%;
    }
    100% {
        opacity: 1;
        left: 8%;
    }
}



#main2NextDiv{
    position: absolute;
    left: 54%;
    padding: 630px 0 0 625px;
}
#main2NextDiv #main2Next{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #000000;

    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    transition: all 200ms ease;
}
#main2NextDiv #main2Next:hover{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;

    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    outline: 0;
    transition: all 200ms ease;
}

#main2NextDiv{
    animation-name: main2;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@-webkit-keyframes main2 {   
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}
@keyframes main2 {
    0% {
        opacity: 0;
        left: 53%;
    }
    50% {
        opacity: 0;
        left: 53%;
    }
    100% {
        opacity: 1;
        left: 54%;
    }
}