@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');
body{
    overflow: hidden;
}
.wrap{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}
#menu{
    position: absolute;
    width: 8%;
    /*background-color: #000000;*/
    text-align: center;
    padding-top: 50px;
}
#menu a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: #e5e5e5;
}
#menu h3{
    padding: 0 30px 50px 30px;
    text-align: left;
}
#menu #epil{
    font-weight: 900;
    color: #000000;
}
/*-*/
#menu #illu:hover{
    font-weight: 900;
    color: #00bdff;
}
#menu #newm:hover{
    font-weight: 900;
    color: #ff0098;
}
#menu #vide:hover{
    font-weight: 900;
    color: #ffc200;
}
#menu #prol:hover{
    font-weight: 900;
    color: #000000;
}
#menu img{
    width: 70%;
    padding-top: 190px;
}
#verticalLine{
    position: absolute;
    border-left: 2px solid #e5e5ee;
    height: 721px;
    top: 0;
    left: 8%;
    z-index: 2;
}


#main1{
    position: absolute;
    width: 43%;
    left: 8%;
    background-color: #000000;
    color: #ffffff;
    padding: 50px 0 0 50px;
    z-index: 1;
}

#main1 h4{
    font-size: 23px;
    font-weight: 300;
    padding: 0 50px 20px 0;
}
#main1 #main2Phone{
    font-size: 25px;
    font-weight: 700;
    padding: 0 50px 5px 0;
}
#main1 #main2Email{
    font-size: 25px;
    font-weight: 700;
    padding: 0 50px 5px 0;
}
#main1 #main2Instagram{
    font-size: 25px;
    font-weight: 700;
    padding: 0 50px 600px 0;
}



#main2{
    position: absolute;
    width: 43%;
    left: 54%;

    color: #000000;
    padding: 570px 0 0 11px;
}
#main2 #main1Motto{
    font-size: 30px;
    font-weight: 700;

}
#main2 #main1Name{
    padding-top: 15px;
}
#main2 h1{
    font-size: 30px;
    font-weight: 700;
    text-align: right;

}