@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');
body{
    /*background-color: #ff6e6e;*/
}
.wrap{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}
#menu{
    position: absolute;
    width: 8%;
    /*background-color: #000000;*/
    text-align: center;
    padding-top: 50px;
}
#menu a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: #e5e5e5;
}
#menu h3{
    padding: 0 30px 50px 30px;
    text-align: left;
}
#menu #prol{
    font-weight: 900;
    color: #000000;
}
/*-*/
#menu #illu:hover{
    font-weight: 900;
    color: #00bdff;
}
#menu #newm:hover{
    font-weight: 900;
    color: #ff0098;
}
#menu #vide:hover{
    font-weight: 900;
    color: #fff100;
}
#menu #epil:hover{
    font-weight: 900;
    color: #000000;
}
#menu img{
    width: 70%;
    padding-top: 190px;
}
#verticalLine{
    position: absolute;
    border-left: 2px solid #e5e5ee;
    height: 721px;
    top: 0;
    left: 8%;
}


#main1{
    position: absolute;
    width: 46%;
    left: 8%;
    /*background-color: #e5e6e6;*/
    padding: 50px 0 0 50px;
}
#main1 #main1Motto{
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 150px 0;
}
#main1 #main1Name{
    padding-top: 15px;
}
#main1 button{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 9px 50px;
}
#main1 button:hover{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 10px 50px;
    cursor: pointer;
}


#main2{
    position: absolute;
    width: 46%;
    left: 54%;
    background-color: #000000;
    color: #ffffff;
    padding: 50px 0;
}
#main2 img{
    width: 45%;
    padding: 0 0 0 50px;
}
#main2 h1{
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    padding: 30px 50px 10px 0;
}
#main2 h2{
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    padding: 0 50px 97px 0;
}
#main2 h4{
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    padding: 0 50px 20px 0;
}
#main2 h3{
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    padding: 0 50px 5px 0;
}