


.leftSection
{
    float: left;
    width: 40%;
    height: 100%;
    background-color: red;
    
}

.leftSection #leftColor
{
    width: 70%;
    height: 100%;
    background-color: black;
}
.leftSection #leftTitle
{
    float: right;
    width: 30%;
    height: 100%;
    text-align: center;
}



.rightSection
{
    float: right;
    width: 60%;
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
}